<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz 2 VueJS</title>
</head>
<body>
  <div id="app">
    <form action="">
      <input type="text" v-model="userbaru">     
        <button type="button" @click="updateuser" v-if="enableEdit">Update</button>
        <button type="button" @click="tambah">Add</button>
    </form>
    <ul>
      <li v-for="(user, key) in users" :key="key">
          {{user.name}} 
          <button type="submit" @click="ubah(key)">Edit</button> || 
          <button type="submit" @click="hapus(key)">Delete</button>
        <br />
        <br />
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script>
    var vo = new Vue({
        el: "#app",
        data: {
            users: [
            {
                name: "Muhammad Iqbal Mubarok",
            },
            {
                name: "Rubi Purwanti",
            },
            {
                name: "Faqih Muhammad",
            },
            
            ],
            userbaru: "",
            enableEdit: false,
            indexuser: 0,
        },
        methods: {
            tambah: function () {
            this.users.push(
                {name: this.userbaru}
            )
            this.userbaru = "";
            },

            ubah: function(key) {
            this.enableEdit = true
            this.userbaru = this.users[key].name
            this.indexuser = key
            },

            updateuser: function() {
            Vue.set(vo.users, this.indexuser, {name: this.userbaru})
            this.enableEdit = false
            this.indexuser = null
            this.userbaru = ""
            },

            hapus: function(key) {
            if (confirm("Anda Yakin?")) {
                this.users.splice(key, 1)
            }
            }  
        }
    })
    </script>
  
</body>
</html>